@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

/*index-header*/

.page-header {
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-container {
  display: flex;
  width: 1060px;
  height: 65px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-list-1 .navigation-item:nth-child(1) {
  padding-right: 34px;
  padding-left: 47px;
}

.navigation-list-1 .navigation-item:nth-child(2) {
  padding-right: 34px;
}

.navigation-logo {
  display: block;
  width: 139px;
}

.navigation-list-1 {
  display: flex;
  width: 580px;
  padding-top: 20px;
  padding-bottom: 19px;
}

.navigation-list-2 {
  display: flex;
  width: 341px;
}

.navigation-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.navigation-item {
  list-style-type: none;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
}

/*index-main*/

.main-index {
  flex-grow: 1;
}

.main-logo-container {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/index-background.jpg");
  background-size: 1200px 767px;
  background-color: #000000;
  background-repeat: no-repeat;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

/*index-main introduction*/

.introduction {
  text-align: center;
}

.introduction-description {
  width: 620px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/*index-main advantages*/

.introduction-advantages {
  width: 654px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;

}

.advantages-sub-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list,
.advantages-sub-list,
.advantages-title,
.advantages-number,
.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 400px;
  min-height: 384px;
}

.advantages-item,
.advantages-sub-item {
  list-style-type: none;
}

.advantages-title,
.advantages-number,
.advantages-description {
  width: 230px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-sub-list {
  color: #000000;
  background-color: #ffffff;
}

.advantages-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.text-grey {
  color: #333333;
}

/*index-main search*/

.search {
  text-align: center;
}

.search-block {
  width: 297px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-section {
  width: 592px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-search-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

/*index-footer newsletter*/

.footer-newsletter {
  padding: 94px 200px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background-footer.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
}

.newsletter-email-subscribe {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form-field {
  background: #F2F2F2;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
}

/*index-footer social-contacts-logo*/

.footer-list {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.footer-item {
  list-style-type: none;
}

.footer-social-list {
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.footer-social-item {
  list-style-type: none;
}

.footer-item-address {
  width: 720px;
}

.footer-logo {
  display: block;
  width: 114,9px;
}

.footer-contacts-address-phone {
  display: block;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

/*catalog-main-header*/

.main-catalog {
  flex-grow: 1;
}

.filter-container {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url("../images/filter.jpg");
  background-color: #756157;
  background-size: 1200px 403px;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

.breadcrumbs-item {
  list-style-type: none;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.filter-form-item {
  list-style-type: none;
}

.button-filter {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.button-filter-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/*catalog-main found-hotels*/

.found-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.number-hostel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.dropdown-item {
  color: #333333;
  text-decoration: none;
}

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
  padding: 0;
}

.product-card {
  list-style-type: none;
  width: 340px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.type-of-housing {
  color: #333333;
}

.product-card-cost {
  font-weight: 400;
  color: #333333;
}

.product-card-button {
  font-weight: 700;
  text-decoration: none;
  align-items: center;
}

.button-favourite {
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
}

.rate-of-hotel {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hostels-at-list {
  color: #333333;
}

.number-of-hostels {
  color: #333333;
}

.pagination {
  display: flex;
}

.footer-newsletter-catalog {
  padding: 94px 200px;
  text-align: center;
  color: #000000;
  background-size: 1200px 411px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
.visually-hidden {
  display: none;
}

.visually-hidden {
  visibility: hidden;
}
*/
