@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/*header*/

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

/*Нужно ли добавлять черный цвет альт тексту лого седоны????????*/

.button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
}

/*main*/

.main-index {
  background-image: url("../images/index-background.jpg");
  background-size: 1200 767;
  background-repeat: no-repeat;
}

/* как сделать задний фон index-background, обернуть в какой нибудь див ??????*/

.introduction {
  text-align: center;
}

.introduction-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.introduction-advantages {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list:nth-child(-n+2) {
  background-color: #82B3D3;
}

.advantages-list:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*
.advantages-description {
  color: #333333;
}
*/

.search {
  text-align: center;
}

.search-block {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-section {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-search-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-newsletter {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background-footer.jpg");
  background-size: 1200 411;
  background-repeat: no-repeat;
  background-color: #000000;
}
