@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*index-header*/

.page-header {
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-container {
  display: flex;
  width: 1060px;
  min-height: 65px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-list-1 .navigation-item {
  padding-right: 34px;
}

.navigation-logo {
  display: block;
  width: 139px;
}

.navigation-logo-link {
  display: block;
  height: 65px;
  position: relative;
  margin-right: 47px;
}

.navigation-list-1 {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
}

.navigation-list-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 341px;
}

.navigation-link {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.navigation-list-1 .navigation-link {
  padding-top: 20px;
  padding-bottom: 19px;
}

.navigation-list-1 .navigation-link-current {
  border-bottom: 2px solid #756257;
  padding-bottom: 17px;
}

.navigation-link-search {
  min-height: 65px;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-favourite {
  min-height: 65px;
  margin-right: 27px;
  background-image: url('../images/favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.favourite-number {
  position: absolute;
  width: 20px;
  height: 20px;
  left: calc(50% - 19.05px/2 + 13px);
  top: calc(50% - 13px/2 - 9px);
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  background: #7DB54F;
  border-radius: 10px;
}

.navigation-item {
  list-style-type: none;
  min-width: 53px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
}

.button-navigation {
  min-width: 130px;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  margin: 14px 0;
}

.navigation-link:hover {
  background-color: #cccccc;
}

.button-navigation:hover,
.button-navigation:focus,
.button-search-hotel:hover,
.button-search-hotel:focus,
.product-card-button:hover,
.product-card-button:focus {
  background-color: #615048;
}

.button-navigation:active,
.button-search-hotel:active,
.product-card-button:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-navigation:disabled,
.button-search-hotel:disabled,
.product-card-button:disabled {
  background-color: #E5E5E5;
}

/*index-main*/

.main-index {
  flex-grow: 1;
}

.main-logo-container {
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 59px;
  line-height: 0;
  background-image:url('../images/mask.svg'), url('../images/index-background.jpg');
  background-color: #426a96;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

/*index-main introduction*/

.introduction {
  text-align: center;
}

.introduction-description {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/*index-main advantages*/

.introduction-advantages {
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 0 30px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages {
  text-align: center;
  margin-bottom: 91px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;

}

.advantages-sub-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list,
.advantages-sub-list,
.advantages-title,
.advantages-number,
.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 400px;
  min-height: 384px;
}

.svg-container {
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  order: -1;
}

.svg-container-house {
  background-image:url('../images/house.svg');
  width: 75px;
  height: 72px;
}

.svg-container-food {
  background-image:url('../images/food.svg');
  width: 74px;
  height: 70px;
}

.svg-container-gift {
  background-image:url('../images/gift.svg');
  width: 64px;
  height: 76px;
}

.bridge {
  order: -1;
}

.advantages-item,
.advantages-sub-item {
  list-style-type: none;
}

.advantages-title,
.advantages-number,
.advantages-description {
  padding: 0 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-sub-list {
  color: #000000;
  background-color: #ffffff;
}

.advantages-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.text-grey {
  color: #333333;
}

/*index-main search*/

.search {
  text-align: center;
}

.search-block {
  margin: 0 auto;
  margin-bottom: 29px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-section {
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 0 30px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-search-hotel {
  display: block;
  width: 544px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 93px;
  padding: 12px 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

/*index-footer newsletter*/

.footer-newsletter {
  padding: 94px 200px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background-footer.jpg");
  background-size: 1200px 411px;
  background-color: #426a96;
  background-repeat: no-repeat;
}

.newsletter-email-subscribe {
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 600px;
  border-radius: 10px 0 0 10px;
  border-style: none;
  background: #F2F2F2;
  padding: 20px 22px 19px 22px;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  width: 213px;
  border-radius: 0 10px 10px 0;
  border-style: none;
  background: #82B3D3;
}

.newsletter-button:hover,
.newsletter-button:focus,
.button-filter:hover,
.button-filter:focus,
.button-favourite:hover,
.button-favourite:focus,
.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.newsletter-button:active,
.button-filter:active,
.button-favourite:active,
.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.newsletter-button:disabled,
.button-filter:disabled,
.button-favourite:disabled,
.pagination-link:disabled {
  background-color: #E5E5E5;
}

/*index-footer social-contacts-logo*/

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  min-height: 105px;
  margin: 15px auto 0;
  padding: 0;
}

.footer-item {
  list-style-type: none;
}

.footer-social-list {
  width: 142px;
  min-height: 105px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

}

.footer-social-item {
  position: relative;
  list-style-type: none;
  width: 47px;
  min-height: 40px;
}

.social-button {
  display: block;
}

.social-button:hover>.footer-social-icon,
.social-button:focus>.footer-social-icon {
  fill: #68A2CA;
}

.social-button:active>.footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#83B3D3;
}

.footer-item-address {
  width: 720px;
}

.footer-logo {
  fill: #000000;
}

.footer-logo:hover,
.footer-logo:focus {
  fill: #756157;
}

.footer-logo:active {
  background-color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-address-phone {
  display: block;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}


/*catalog-main-header*/

.main-catalog {
  flex-grow: 1;
}

.filter-container {
  padding: 35px 70px 68px;
  color: #ffffff;
  background-image: url("../images/filter.jpg");
  background-color: #426a96;
  background-size: 1200px 403px;
  background-repeat: no-repeat;
  margin-bottom: 55px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
}

.breadcrumbs-item {
  position: relative;
  list-style-type: none;
  min-width: 12px;
  cursor: pointer;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 25px;
}

.icon-arrow {
  position:absolute;
  top: 6px;
  right: 83px;
  width: 6px;
  height: 8px;
  background-image: url('../images/arrow-right.svg');
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover>.breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus>.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:active>.breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.filter-form-title-cost{
  margin-bottom: 34px;
}

.filter-form-list {
  padding: 0;
  margin: 0;
}

.filter-form-infrastructure,
.filter-form-housing,
.filter-form-cost,
.filter-form-buttons {
  margin: 0;
  padding: 0;
  border-style: none;
}

.filter-form-infrastructure {
  margin-right: 70px;
  min-width: 150px;
}

.control{
  display: flex;
  align-items: center;
}

.control-mark {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.filter-form-infrastructure-button:checked+.control-mark {
  background-image: url('../images/bird.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.filter-form-infrastructure-button:hover+.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-form-infrastructure-button:focus+.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}

.filter-form-infrastructure-button:active+.control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-form-housing {
  margin-right: 174px;
  min-width: 147px;
}

.control-mark-radio {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.filter-form-housing-button:checked+.control-mark-radio {
  background-image: url('../images/dotforradio.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.filter-form-housing-button:focus+.control-mark-radio {
  box-shadow: 0 0 0 3px #83B3D3;
}

.filter-form-cost {
  margin-right: 69px;
  min-width: 280px;
}

.filter-form-item-cost {
  display: flex;
  width: 288px;
  margin-bottom: 28px;
}

.filter-form-cost-min {
  width: 144px;
  font-family: "PT Sans", sans-serif;
  padding: 12px 19px 11px 19px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
}

.filter-form-cost-max {
  width: 144px;
  font-family: "PT Sans", sans-serif;
  padding: 12px 17px 11px 17px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.filter-form-cost-min::-webkit-outer-spin-button,
.filter-form-cost-min::-webkit-inner-spin-button,
.filter-form-cost-max::-webkit-outer-spin-button,
.filter-form-cost-max::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-form-cost-min:hover,
.filter-form-cost-max:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.filter-form-cost-max:hover {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.filter-form-cost-min:focus,
.filter-form-cost-max:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2;
}

.filter-form-cost-max:focus {
  border-left: 1px solid #FFFFFF;
}

.filter-form-cost-min:active,
.filter-form-cost-max:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
}

.filter-form-cost-max:active {
  border-left: 1px solid #FFFFFF;
}

.filter-range-scale {
  position: relative;
  width: 278px;
  margin-left: 10px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.filter-form-item {
  list-style-type: none;
}

.filter-form-item:not(:last-child) {
  margin-bottom: 15px;
}

.button-filter {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  padding: 14px 15px;
  margin-top: 60px;
  background-color: #82B3D3;
  color: #FFFFFF;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  border-radius: 4px;
}

.button-filter-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  padding: 0;
  margin: 5px auto 0;
  border-style: none;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
}

.button-filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-filter-reset:focus {
  color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 4px;
}

.button-filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/*catalog-main found-hotels*/

.sorting-container {
  display: flex;
  align-items: center;
  width: 1056px;
  min-height: 49px;
  margin: 0 auto 54px;
}

.found-hotels-title {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.number-hostel {
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.dropdown {
  width: 290px;
  box-sizing: border-box;
  margin-right: 78px;
  padding: 14px 21px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-dropdown {
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  list-style: none;
  cursor: pointer;
}

.dropdown-menu-show {
  display: grid;
  position: absolute;
  gap: 10px;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px #383838;
}

.dropdown-item {
  display: block;
  color: #333333;
  text-decoration: none;
}

.button-list-view {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-list-view-current {
  border: 2px solid #000000;
}

.button-list-view:last-child {
  margin-right: 0;
}

.button-list-view-table {
  background-image: url("../images/icon-table.svg");
  background-repeat: no-repeat;
  background-position: center;
  order: 1;
}

.button-list-view-slideshow {
  background-image: url("../images/icon-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  order: 2;
}

.button-list-view-list {
  background-image: url("../images/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  order: 3;
}

.button-list-view:hover {
  border-color: #000000;
}

.button-list-view:focus {
  border-color: #68A2CA;
}

.button-list-view:active {
  border-color: #000000;
}

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
  padding: 0 0 66px 0;
  border-bottom: 1px solid #E6E6E6;;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  list-style-type: none;
  padding: 20px;
  width: 300px;
}

.product-card-link {
  text-decoration: none;
  grid-column: span 2;
}

.product-card-image {
  margin-bottom: 12px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #000000;
}

.type-of-housing {
  margin: 0;
  color: #333333;
}

.product-card-cost {
  font-weight: 400;
  color: #333333;
}

.product-card-stars[data-stars="2"] {
  background-image: url('../images/star.svg');
  background-repeat: space no-repeat;
  background-position: left center;
  background-size: 18px 17px;
  width: 42px;
}

.product-card-stars[data-stars="3"] {
  background-image: url('../images/star.svg');
  background-repeat: space no-repeat;
  background-position: left center;
  background-size: 18px 17px;
  width: 66px;
}

.product-card-stars[data-stars="4"] {
  background-image: url('../images/star.svg');
  background-repeat: space no-repeat;
  background-position: left center;
  background-size: 18px 17px;
  width: 89px;
}

.product-card-button {
  font-weight: 700;
  text-decoration: none;
  padding: 9px 15px 8px;
  border-radius: 4px;
  border-style: none;
}

.button-favourite {
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
}

.button-favourite-current {
  background: #7DB54F;
}

.button-favourite-current:hover,
.button-favourite-current:focus {
  background-color: #6C9E42;
}

.button-favourite-current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.button-favourite-current:disabled {
  background-color: #E5E5E5;
}

.rate-of-hotel {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 1056px;;
  height: 60px;
  margin: 30px auto 25px;
}

.pagination {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item {
  display: block;
  list-style-type: none;
}

.pagination-link {
  display: block;
  margin-right: 8px;
  padding-top: 12px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #F2F2F2;
}
.pagination-link:active {
  color: #000000;
  background-color: #F2F2F2;;
}
.pagination-link:disabled {
  background-color: #F2F2F2;
}


.number-of-hostels-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 386px;
}

.hostels-at-list {
  margin: 0;
  color: #333333;
}

.hostels-at-list-dropdown {
  width: 160px;
  box-sizing: border-box;
  padding: 12px 21px 12px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.footer-newsletter-catalog {
  padding: 94px 200px;
  text-align: center;
  color: #000000;
  background-size: 1200px 411px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 54px 70px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 715px;
  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-section-title {
  display: flex;
  width: 575px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.modal-close-button {
  position: relative;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border-style: none;
}

.modal-icon-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.modal-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;
}

.modal-list-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-form-title {
  width: 155px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.modal-form-title-child {
  position: relative;
  width: 97px;
  margin-left: 56px;
}

.modal-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 420px;
  min-height: 50px;
  padding-left: 19px;
  padding-right: 17px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 4px;
}

.modal-input-number {
  width: 133px;
  padding: 0;
  text-align: center;
}

.modal-attention {
  width: 420px;
  margin: 8px 0 11px auto;
  font-weight: 400;
  font-size: 16px;
  color: #FF5757;
}

.modal-consideration {
  color: #333333;
}

.modal-button {
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  color: #FFFFFF;
  border-style: none;
  background-color: #83B3D3;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.information {
  position:absolute;
  width:25px;
  height: 25px;
  right: 18px;
  color: #ffffff;
  background-image: url('../images/info.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #83B3D3;
  border-radius: 50%;
}

.minus {
  position:absolute;
  padding: 12px 6px;
  background-image: url('../images/minus.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  right: 101px;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}

.plus {
  position:absolute;
  padding: 6px;
  background-image: url('../images/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  right: 14px;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}

.minus-child {
  position:absolute;
  padding: 12px 6px;
  background-image: url('../images/minus.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  right: 101px;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}

.plus-child {
  position:absolute;
  padding: 6px;
  background-image: url('../images/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  right: 14px;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background: #E6E6E6;
}

.modal-container-close {
  display: none;
}
